<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <!-- The ASP.NET Core module handles requests for .NET Core apps -->
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        </handlers>

        <!-- To log stdout messages from your app, enable this. It's useful for debugging -->
        <aspNetCore processPath="dotnet" arguments=".\TaskMateBackend.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>

    <system.web>
        <compilation targetFramework="8.0" />
        <httpRuntime targetFramework="8.0" />
    </system.web>
</configuration>
